<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= i18n('settings') %></h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label><%= i18n('feedbackRecipient') %></label>
      <input
        class="form-control"
        name="feedbackRecipient"
        type="email"
        required
      />
    </div>
  </div>
</div>

<script>
  window.svFeedback = {
    canNotBeEmpty: '<%- i18n("canNotBeEmpty") %>',
    invalidEmail: '<%- i18n("invalidEmail") %>',
  };
</script>
